.form-control{
    display: block !important;
    margin:20px !important;
    text-align: center;

}

.MuiDialogContent-root-206:first-child{padding: 0 !important;}

.MuiDialog-paperScrollPaper-35{width: 365px !important;}